#about-content {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 5vw;
  
  height: 800px;

  background-color: var(--main-bg-color);
  color: var(--main-subcolor);
}

#about-content-left-title-place {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  width: 40vw;
  height: 600px;
}

#about-content-left-title {
  font-size: 3em;

  margin: 0;
  padding: 0;

  color: var(--main-subcolor);

}

#about-content-left-title-img-area {
  display: flex;
  justify-content: center;
  gap: 1vw;

  height: 450px;
  width: 100%;
}

.about-content-left-title-img {
  height: 500px;
  width: clamp(200px, 50%, 300px);

  border: 2px solid var(--main-subcolor);

  color: var(--main-bg-color);
  background-color: var(--main-subcolor);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#about-content-left-title-img-1 {
  background-image: url(../assets/imgs/restaurant-front.png);
}

#about-content-left-title-img-2 {
  background-image: url(../assets/imgs/restaurant-inside-2.png);
}



#about-content-text-place {
  width: 30vw;
  height: 600px;

  padding-left: 5vw;
  border-left: 5px solid var(--main-brighter-subcolor);
}