#menu-title-place {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--main-bg-color);
  color: var(--main-subcolor);

  gap: 5vw;

  padding: 75px;
}

#menu-title {
  display: flex;
  align-items: center;

  width: clamp(200px, 20vw, 500px);

  border-right: 2px solid var(--main-subcolor);

  height: 150px;

  margin: 0;
  padding: 0;
}

#menu-title-text {
  width: clamp(200px, 20vw, 500px);

}

#menu-items-place {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, clamp(400px, 20vw, 600px) );
  gap: 50px;

  min-height: 800px;
  padding-top: 50px;

  background-color: #243054;
}

.menu-item {
  height: 250px;

  background-color: var(--main-bg-color);
  color: var(--main-subcolor);
}

.menu-item-photo {
  background-color: var(--main-subcolor);
  height: 70%;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#pizza {
  background-image: url(../assets/imgs/pizza.jpg);
}

#taco {
  background-image: url(../assets/imgs/tacos.jpg);
}

#hamburger {
  background-image: url(../assets/imgs/hamburger.jpeg);
  background-position-y: -150px;
}

#sub {
  background-image: url(../assets/imgs/sub.jpg);
}

#fried-chicken {
  background-image: url(../assets/imgs/fried-chicken.jpeg);
}

#french-fries {
  background-image: url(../assets/imgs/french-fries.JPG);
}

#burrito {
  background-image: url(../assets/imgs/burrito.jpg);
}

#milk-shake {
  background-image: url(../assets/imgs/milk-shake.jpg);
}

.menu-item-name {
  height: 30%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.2em;
}




