:root {
  --main-bg-color: #1d1a05;
  --main-subcolor: #FFCA1F;
  --main-brighter-subcolor: #FFEC4E;
  --main-shade-color: #222222;
  --main-clean-color: #FFFFFF;

}


a {
  color: var(--main-brighter-subcolor);
  text-decoration: none
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--main-clean-color);

  margin: 0;
  padding: 0;

  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-around;

  height: 125px;
  background-color: var(--main-bg-color);
}

#header-logo-place {
  color: var(--main-brighter-subcolor);

  font-size: 1.5em;
}

#header-links-place {
  display: flex;
  gap: 50px;

  font-size: 1.2em;
}

#header-button-place {

}

#header-button {
  background-color: var(--main-subcolor);
  color: var(--main-bg-color);

  width: 100px;
  height: 50px;

  border-radius: 5%;
}

#footer {
  height: 125px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--main-clean-color);
  background-color: var(--main-shade-color);
}

#footer a {
  color: white;
}